# IDE's
.idea
.vscode

# CMake
cmake-build-debug/
CMakeLists.txt

# Python
__pycache__/
.pytest_cache/

# Exercism
.exercism/

# Java class files
*.class

# Other files
.DS_Store

# input files
*.in

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dSYM

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.jar

META-INF/
